<!DOCTYPE html>
<html>
{% include head.html %}

<head>
  <meta charset="UTF-8">
  <title>Boton Flotante - WhatsApp</title>
  <link rel="stylesheet" href="_includes/css/fontello.css">	
</head>
  
<body id="page-top" class="index">
  {% include nav.html %}
  {% include header.html %}
  {% include portfolio_grid.html %}
  {% include about.html %}

  {% if site.contact == "static" %}
  {% include contact_static.html %}
  {% elsif site.contact == "disqus" %}
  {% include contact_disqus.html %}
  {% else %}
  {% include contact.html %}
  {% endif %}

  {% include footer.html %}
  {% include modals.html %}
  {% include js.html %}
  <a href="https://api.whatsapp.com/send?phone=+51954054000" class="btn-wsp" target="_blank">
	    <i class="icon-wasap"></i>
	</a>
  
</body>

</html>
